.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    &#intro-modal {
        background-color: $secondaryColor;
        &.active {
            display: block;
        }
        &:hover {
            cursor: pointer;
        }
        .container {
            height: 100%;
        }
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 80%;
            }

            p {
                font-size: 12px;
                font-weight: bold;
                border-bottom: $border;
                @media (min-width: $md) {
                    font-size: 20px;
                }
            }
        }

    }
    &.video-modal {
        background-color: #000000d8;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        &.active {
            display: flex;
        }
        .container {
            display: flex;
            flex-direction: column;
            h3 {
                margin-bottom: 30px;
            }
            video {
                height: 80vh;
                max-width: 95vw;
                background-color: #09181e;
            }
        }
    }

}