@import url('https://fonts.googleapis.com/css2?family=Averia+Libre&family=Raleway:wght@400;700&display=swap');

@import "00_abstracts/**";
@import "01_vendors/**";
@import "02_components/**";
@import "03_layout/**";
@import "04_section/**";

html, body {
  color: $textColor;
  font-family: $text;
  font-size: 16px;
  line-height: 1.25;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nowrap { white-space: nowrap; }

main {
  margin-top: 90px;
}

.container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 0 20px;
  position: relative;
}

section, .banner {
  padding-top: 75px;
  padding-bottom: 75px;
}

section, footer, header {
  &.dark {
    background-color: $dark-blue;
    color: $white;
  }
  &.orange {
    background-color: $light-orange;
  }
}