{{#> section id="about"}}
    <div class="logo-head-container">
        <img src="./_assets/img/modal-logo.jpg" alt="reimagineasian logo">
    </div>
    <h2>About</h2>
    <p>Welcome to Reimagineasian, the premier street fair host that celebrates the vibrant and diverse flavors of Asian cuisine. Founded in 2022 by three Asian food vendors, we are committed to promoting local businesses and bringing communities together through our summer festivals.</p>
    <p>Our team understands the challenges and opportunities of running a street fair stand, and we're dedicated to providing a seamless and successful experience for our vendors. With our expertise in event planning, marketing, and logistics, we help vendors showcase their unique culinary creations and connect with new customers.</p>
    <p>At Reimagineasian, we strive to create an inclusive and welcoming environment for all. We believe that food has the power to bring people together and celebrate diversity. Join us in our mission to reimagine the street fair experience and elevate Asian cuisine to new heights.</p>
{{/section}}