
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox-plus-jquery.min.js"></script>
  {{!-- <a target="_blank" href="https://icons8.com/icon/02lOPfZOf6Fu/done">Done</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> --}}
</body>
</html>