<header>
  <div class="container">
    <nav>
      <div class="nav-wrapper">
        {{!-- img container --}}
        <div class="nav-logo-container">
          <a href="/">
            <img src="{{#equal page 'home'}}./{{else}}../{{/equal}}assets/img/global/logo-text.png" alt="Logo">
          </a>
        </div>

        {{!-- nav trigger --}}
        <a tabindex="0" class="mobile-nav-trigger">
          <div class="menu-btn-container">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>

        {{!-- nav links --}}
        <div class="nav-links">
          <ul>
            {{#each pages}}
              <li>
                <a href="{{link}}" {{#equal ../page name}}class="link-active"{{/equal}}>{{{name}}}</a>
              </li>
            {{/each}}
          </ul>
        </div>

      </div>
    </nav>
  </div>

</header>