<header>
  <div class="container">
    <nav>
      <div class="nav-wrapper">
        <a tabindex="0" class="sidenav-trigger">
          <div class="menu-btn-container">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
        <ul>
          {{#each pages}}
          <li>
            <a href="{{link}}">{{{name}}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </nav>
  </div>
  <div class="sidenav" id="sidenav">
    <div class="overlay"></div>
    <ul>
      {{#each pages}}
        <li>
          <a href="{{link}}">{{{name}}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</header>