<footer id="pagefooter">
  <div class="container">
    <p>©Copyright 2023 Reimagineasian. All rights reserved. &nbsp; | &nbsp; Website designed by <a href="https://asolace.com" target="_blank" class="underline">Asolace</a></p>
  </div>
</footer>
