<div id="intro-modal" class="modal active">
    <div class="container">
        <div class="content">
            <img src="./assets/img/modal-logo.jpg" alt="reimagineasian logo">
            <p>CLICK TO ENTER</p>
        </div>
    </div>
</div>

{{#each video}}
    <div id="{{videoid}}" class="modal video-modal">
        <div class="container">
            <h3>{{name}}</h3>
            {{#equal videoHost "youtube"}}
            <iframe
                src="https://www.youtube.com/embed/{{embedCode}}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
            {{/equal}}

            {{#equal videoHost "file"}}
            <video controls>
                <source src="{{videoLocation}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            {{/equal}}
        </div>
    </div>
{{/each}}