<div id="intro-modal" class="modal active">
    <div class="container">
        <div class="content">
            <img src="./_assets/img/modal-logo.jpg" alt="reimagineasian logo">
            <p>CLICK TO ENTER</p>
        </div>
    </div>
</div>