#events {
    .event-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        img {
            width: 64px;
        }
        .dates-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px 15px;
            background-color: $thirdColor;
            margin-left: 30px;
            p {
                color: $black;
                margin-bottom: 5px;
                &.day {
                    font-size: 14px;
                    font-weight: bold;
                }
                &.month {
                    font-size: 20px;
                    font-weight: lighter;
                    letter-spacing: .5px;
                }
                &.date {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }
    .location-container {
        display: flex;
        align-items: center;
        margin: 30px 0;
        p {
            margin-bottom: 5px;
            text-align: center;
            &.location {
                font-size: 16px;
            }
            .smaller {
                font-size: 12px;
            }
        }
        a, .coming-soon {
            margin-top: 20px;
        }
    }
    .link-container {
        display: flex;
        align-items: center;
    }

    .event-full-containers {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: $border;
        margin: 10px 0 30px;
        padding-bottom: 30px;
        &:last-of-type {
            border-bottom: none;
        }
    }

    @media (min-width: $md) {
        .event-full-containers {
            flex-direction: row;
            justify-content: space-between;
        }
        .location-container {
            margin: 0 30px;
            a, .coming-soon {
                margin-left: 30px;
            }
        }
    }
}